<%= javascript_include_tag "jquery.Jcrop.min.js" %>
<%= stylesheet_link_tag "jquery.Jcrop.min.css" %>
<fieldset>
<legend><h1><%= link_to "", creative_pictures_path, :class => "foundicon-left-arrow"%><%= t('.title')%></h1></legend>
  <%= form_for(@picture, :url => creative_picture_path(@picture.creative, @picture), :remote => true) do |f| %>
  <%= f.text_field :tag_tokens, "data-pre" => @picture.tags.map(&:attributes).to_json %> 
      <input class="button radius" type='submit' value="<%= t("save") %>"/>
  <% end %>
  <dl class="tabs" data-tab>
    <dd><a href="#panel-ret-<%= @picture.id %>"><%= t('.ret')%></a></dd>
    <dd class="active"><a href="#panel-crop-<%= @picture.id %>"><%= t('.crop')%></a></dd>
  </dl>
  <div class="tabs-content">
    <div class="content" id="panel-ret-<%= @picture.id %>">
      <%= render "ret" %>
    </div>
    <div class="content active" id="panel-crop-<%= @picture.id %>">
      <div id="pic_container_<%= @picture.id %>">
        <%= @picture.cropped ? (image_tag(@picture.file.url+".cropped.jpg", :id => "target-#{@picture.id}")) : (image_tag(@picture.file.url, :id => "target-#{@picture.id}")) %>
      </div>
      <script type="text/javascript">
          jQuery(function($){
            var updatevalues;
            updatevalues = function(c) {
						  var par;
						  par = "?x=" + c.x + "&y=" + c.y + "&w=" + c.w + "&h=" + c.h;
						  //alert(par);
						  $("#croppic").attr('data-params',par);
						};
						$('#target-<%= @picture.id %>').Jcrop({
				      onChange:   updatevalues
				    });
          });
      </script>
      <button id="croppic" data-url="<%= crop_picture_path(@picture.creative, @picture) %>" data-original="true" data-id="<%= @picture.id %>" data-params=""><%= t(".croping") %></button>
      <button id="change_source_to_crop" data-url="<%= @picture.file.url+'.cropped.jpg' %>" data-original="false" data-id="<%= @picture.id %>"><%= t(".show_cropped") %></button>
      <button id="change_source_to_original" data-url="<%= @picture.file.url %>" data-original="true" data-id="<%= @picture.id %>"><%= t(".show_original") %></button>
    </div>
  </div>
</fieldset>