
<%= form_for @picture, :url => creative_pictures_path, :html => { :multipart => true, :id => "fileupload"  } do |f| %>
      <%= link_to "", creative_path(@creative), :class => " button foundicon-left-arrow left" %>
      <span class="button fileinput-button secondary"> 
        <span>Add files...</span>
          <%= f.file_field :file, multiple: true, id: 'upload-field' %>
      </span>
      <span class="button secondary" id="upload_all">Upload all</span>
    <div class="medium-12 columns">
      <table role="presentation" class="table table-striped"><tbody class="files"></tbody></table>
  </div>
<% end %>

<%= render 'template_upload' %>
<%= render 'template_download' %>
