    <ul class="clearing-thumbs medium-6 columns" data-clearing>
      <% if @comments.empty?%>
        <%= content_tag :h2, t('.no_comments')%>
      <% else %>
        <%= content_tag :h3, t('.comments')%>
      <% end %>
      <div id="comments">
          <%= render :partial => @comments, :locals => { :list => true } %>
        </div>
    </ul>
    
    <% if current_user %>
      <div class="medium-6 columns">
        <h5><%= t('.please_comment') %></h5>
          <%= form_for @new_comment, :url => creative_comments_path(@creative), remote: true do |f| %>
              <%= f.text_area :body, :rows => 8, :required => true%><br />
              <button type="submit" class="tiny button success radius"><%= t('.add') %></button>
          <% end %>
      </div>
      <div id="comment-notice"></div>
    <% end %>