
<% @creative.readers.each do |reader| %>
  <p id="near_<%=reader.id%>"></p>
  <script type="text/javascript">
  <% if current_user != reader && current_user %>
    var glatlng1 = new GLatLng(<%= current_user.user_city[0]%>, <%= current_user.user_city[1]%>);
    var glatlng2 = new GLatLng(<%= reader.user_city[0]%>, <%= reader.user_city[1]%>);
    var miledistance = glatlng1.distanceFrom(glatlng2, 3959).toFixed(1);
    var kmdistance = (miledistance * 1.609344).toFixed(1);
    if(kmdistance < 100) {
    	document.getElementById('near_<%=reader.id%>').innerHTML = kmdistance + ' kilometers' + ":" + "<%= j link_to (reader.nickname.present? ? reader.nickname : reader.email), user_path(reader) %>";
		}
    <% end %>
  </script>
<%end%>
<%= t(".nobody_reads") if @creative.readers.empty? %>