<% content_for :title, @creative ? @creative.name : t(".all_creatives") %>
<h1 class="medium-12 columns"><%= link_to '', new_creative_path, class: "foundicon-plus" if current_user %> &nbsp;&nbsp;&nbsp; <%= t(".all_creatives")%></h1>
<% @creatives.each do |creative| %>
  <div class="medium-6 columns">
    <div class="panel">
      <% if creative.author?(current_user) %>
        <%= link_to "", creative, :method => :delete, data: { confirm: t('.are_you_sure')}, :class => "foundicon-remove right" %>
        <%= link_to "", edit_creative_path(creative), :class => "foundicon-edit right" %>
      <% end %>      
      <h3><%= link_to creative.name, creative %></h3>
      <% creative.tags.each do |tag| %>
        <span class="label radius"><%= tag%></span>
      <% end %>
      <br/>
      <%= creative.description %>
      <p><%=t(".chapters")%> <%= creative.chapters.size %></p>
      <ul class="button-group radius">
        <%= link_to t('.read'), read_creative_path(creative, :anchor => "chapter_last"),:class => "right foundicon-right-arrow" %>
      </ul>
    </div>          
  </div>
<% end %>
<div class="medium-6 columns">
  <h1><%= link_to '', new_creative_path, class: "foundicon-plus" if current_user %></h1>
</div>
