<div class="creative row" data-comments=<%= creative_comments_path(@creative) %>>
  <fieldset class="medium-12 columns">
    <legend>
      <h2><%= best_in_place_if @creative.author?(current_user), @creative, :name, :type => :input, :required => true, :activator => "#editme"%><a id="editme" class="foundicon-edit right" href="#"></a></h2>
    </legend>
    <h1><%= best_in_place @creative, :description, :nil => "click me", :type => :textarea %></h1>
    <% if @creative.author?(current_user) %>
      <%= form_for @creative, :remote => true do |f| %>
        <ul>
          <button class="foundicon-checkmark secondary right" type="submit"></button>
          <%= f.text_field :tag_tokens, "data-pre" => @creative.tags.map(&:attributes).to_json %>
        </ul>
      <% end %>
    <% else %>
      <% @creative.tags.each do |tag| %>
        <span class="label radius"><%= tag%></span>
      <% end %>
    <% end %>
    <h3><span class="right"><%= link_to @creative.user.nickname.present? ? @creative.user.nickname : @creative.user.email, @creative.user %></span></h3>
  </fieldset>
  <h1>
    <%= link_to "", creatives_path, :class => "foundicon-left-arrow left" %>
    <%= link_to "", new_creative_chapter_path(@creative), :class => "foundicon-add-doc" if  @creative.author?(current_user) %>
    <%= link_to t(".read"), read_creative_path(@creative), :class => "foundicon-right-arrow right" %>
  </h1>
  <div id="sortable-grid" class="small-block-grid-1 medium-block-grid-2 large-block-grid-4" data-url="<%= reorder_path(@creative) %>">
    <% @chapters.each do |chapter| %>
      <li id="<%= chapter.id %>">
          <div class="th panel chapter-item">
            <ul class='button-group right'>
              <% if @creative.author?(current_user) %>
                <%= link_to "", edit_creative_chapter_path(@creative, chapter), :class => "foundicon-tools" %>
                <%= link_to "", creative_chapter_path(@creative, chapter), method: :delete, data: { confirm: "are you sure?" }, :class => "foundicon-trash" %>
              <% end %>
            </ul>
              <p><b><%= link_to chapter.name, read_creative_path(@creative, :anchor => "chapter_#{chapter.number+1}"), :class => "black foundicon-right-arrow" %></h3></b></p>
              <p class="markdown-source"><%= chapter.body %></p>
          </div>
      </li>
    <% end %>
  </div>
</div>
  <br><br><br><br>
<% unless @creative.pictures.empty? %>
  <ul class="clearing-thumbs" data-clearing>
    <% @creative.pictures.each do |picture| %>
      <li><a class="th" href="<%= picture.file.url%>"><img src="<%= picture.file.thumb.url%>"></a></li>
    <% end %>
  </ul>
<% else %>
  <p> <%= t(".no_pictures") %> </p>
<% end %>
<br>
<div class="right">
  <%= link_to t(".manage-pictures"), creative_pictures_path(@creative), :class => "small button secondary" %>
</div>
<br><br><br><br>
<%= render 'comments/show' %>
<%= render 'comments/form' %>
