<p id="notice"><%= notice %></p>

<div class="creative" data-comments=<%= creative_comments_path(@creative) %>>
  <legend align="center">
    <h2>
      <%= @creative.name %>
    </h2>
  </legend>
  <span class="right"><%= link_to @creative.user.nickname.present? ? @creative.user.nickname : @creative.user.email, @creative.user %></span>
  <fieldset class="medium-12 columns">
    <%= @creative.description %>
  </fieldset>
  <br><br><br>
  <div class="row">
    <div class="right">
      <% if @creative.author?(current_user) %>
        <%= link_to "New Chapter", new_creative_chapter_path(@creative), :class => "small button"  %>
        <%= link_to "Edit", edit_creative_path(@creative), :class => "small button"  %>
      <% end %>
    </div>
    <div>
      <div id="sortable-grid" class="small-block-grid-1 medium-block-grid-2 large-block-grid-5" data-url="<%= reorder_path(@creative) %>">
        <% @creative.chapters.each do |chapter| %>
          <li id="<%= chapter.id %>">
            <div class="th chapter-item">
              <div class="panel chapter-item">
                  <p><%= chapter.number%>. <%= chapter.name%></p>
                  <p class="markdown-source"><%= chapter.body.slice(0..100) + "..." %></p>
                  <% if @creative.author?(current_user) %>
                    <ul class="button-group radius bottom-button">
                       <li><%= link_to "edit", edit_creative_chapter_path(@creative, chapter), :class => "tiny button" %></li>
                       <li><%= link_to "delete", creative_chapter_path(@creative, chapter), method: :delete, data: { confirm: "are you sure?" }, :class => "tiny button alert" %></li>
                    </ul>
                  <% end %>
              </div>
            </div>
          </li>
        <% end %>
      </div>
    </div>
  </div>

  <br><br><br><br>


<% unless @creative.pictures.empty? %>
  <ul class="clearing-thumbs" data-clearing>
    <% @creative.pictures.each do |picture| %>
      <li><a class="th" href="<%= picture.file.url%>"><img src="<%= picture.file.thumb.url%>"></a></li>
    <% end %>
  </ul>
<% else %>
  <p> No images :( </p>
<% end %>
<br>
<%= link_to "Manage Pictures", creative_pictures_path(@creative) %>
<br><br><br><br>
<%= render 'comments/show' %>
<%= render 'comments/form' %>
