<div class="creative" data-comments=<%= creative_comments_path(@creative) %>>

  <span class="right"><%= link_to @creative.user.nickname.present? ? @creative.user.nickname : @creative.user.email, @creative.user %></span>
  <fieldset class="medium-12 columns">
    <legend>
      <h2><%= @creative.name %></h2>
    </legend>
    <h1 class="editable"><%= @creative.description %></h1>
  </fieldset>
    <%= link_to "", new_creative_chapter_path(@creative), :class => "foundicon-plus right" if  @creative.author?(current_user) %>
  <br><br><br>
  <div class="row">
    <div>
      <div id="sortable-grid" class="small-block-grid-1 medium-block-grid-2 large-block-grid-4" data-url="<%= reorder_path(@creative) %>">
        <% @chapters.each do |chapter| %>
          <li id="<%= chapter.id %>">
              <div class="th panel chapter-item">
              <ul class='button-group right'>
                <% if @creative.author?(current_user) %>
                  <%= link_to "", creative_chapter_path(@creative, chapter), method: :delete, data: { confirm: "are you sure?" }, :class => "foundicon-remove" %>
                  <%= link_to "", edit_creative_chapter_path(@creative, chapter), :class => "foundicon-edit" %>
                <% end %>
              </ul>
                  <p><b><%= chapter.name%></b></p>
                  <p class="markdown-source"><%= chapter.body + "..." %></p>
                </div>
          </li>
        <% end %>
      </div>
    </div>
  </div>

  <br><br><br><br>


<% unless @creative.pictures.empty? %>
  <ul class="clearing-thumbs" data-clearing>
    <% @creative.pictures.each do |picture| %>
      <li><a class="th" href="<%= picture.file.url%>"><img src="<%= picture.file.thumb.url%>"></a></li>
    <% end %>
  </ul>
<% else %>
  <p> No images :( </p>
<% end %>
<br>
<div class="right">
  <%= link_to "Manage Pictures", creative_pictures_path(@creative), :class => "small button" %>
</div>
<br><br><br><br>
<%= render 'comments/show' %>
<%= render 'comments/form' %>
