<div class="chapter">
<div>
  <h1>
      <%= link_to '', creative_path(@chapter.creative), :class=> "foundicon-left-arrow" %>
      Редактирование главы<i class="foundicon-checkmark hidden right"></i></h1> 
</div>
  <fieldset>
    <%= form_for @chapter, url: creative_chapter_path(@chapter.creative, @chapter), :html => { :class => "chapter_save"}, :remote => true do |f| %>
      <% if @chapter.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@chapter.errors.count, "error") %> prohibited this chapter from being saved:</h2>
          <ul>
            <% @chapter.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div>
        <%= f.text_field :name, :placeholder => "Имя главы", :required => "" %>
      </div>

      <div class="row">
        <div class="medium-6 columns">
          <div class='wmd-panel'>
            <div id='wmd-button-bar'></div>
            <%= text_area_tag :body, @chapter.body, :name => "chapter[body]", :class => "wmd-input", :id => "wmd-input" %>
          </div>
        </div>
        <div class="medium-6 columns">
        <div class="small button radius" data-reveal-id="choosePicModal">Вставить изображения</div>
          <p>Предпросмотр:</p>
          <div id="wmd-preview" class="wmd-panel wmd-preview"></div>
        </div>
      </div>
      
  </fieldset>
        <%= f.hidden_field :creative_id %>
        <%= f.hidden_field :number %>
        <button type="submit" class="submit-chapter success right foundicon-checkmark"> Сохранить </button>
    <% end %>
</div>  

<%= render "modal_pictures" %>