<div class="chapter">
<div>
  <h1>
      <%= link_to '', creative_path(@chapter.creative), :class=> "foundicon-left-arrow" %>
      Редактирование главы<i class="foundicon-checkmark right"></i></h1> 
</div>
  <fieldset>
    <%= form_for @chapter, url: creative_chapter_path(@chapter.creative, @chapter), :remote => true do |f| %>
      <% if @chapter.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@chapter.errors.count, "error") %> prohibited this chapter from being saved:</h2>
          <ul>
            <% @chapter.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div>
        <%= f.text_field :name, :placeholder => "Имя главы" %>
      </div>
      <div class='wmd-panel medium-6 columns'>
        <div id='wmd-button-bar' class="wmd-button-bar"></div>
        <%= f.text_area :body,  :class => "wmd-input"%>
      </div>


      <dl class="tabs medium-6 columns" data-tab>
        <dd class="active"><a href="#preview">Preview</a></dd>
        <dd><a href="#add_image">Add Image</a></dd>
      </dl>
      <div class="tabs-content medium-6 columns">
        <div class="content active" id="preview">
          <div id="wmd-preview" class="wmd-preview" > </div>
        </div>
        <div class="content" id="add_image">
          <% unless @chapter.creative.pictures.empty? %>
            <ul class="small-block-grid-2 medium-block-grid-4 large-block-grid-6">
              <% @chapter.creative.pictures.each do |picture| %>
                <img class ="addimagebutton th" src="<%= picture.file.thumb.url%>" url="<%= picture.file.url%>">
              <% end %>
            </ul>
          <% else %>
            <p> No images :( </p>
          <% end %>
        </div>
      </div>
  </fieldset>
        <%= f.hidden_field :creative_id %>
        <button type="submit" class=" hidden submit-chapter"> Сохранить </button>
    <% end %>
</div>  