<div>
  <h1>Новая глава</h1>
  <fieldset>
    <%= form_for @chapter, url: creative_chapters_path do |f| %>
      <% if @chapter.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@chapter.errors.count, "error") %> prohibited this section from being saved:</h2>
          <ul>
            <% @chapter.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
        <%= f.text_field :name, :placeholder => "Имя главы" %>
        <%= f.number_field :number %>
        <%= text_area_tag :body, @chapter.body %>
        <%= f.hidden_field :creative_id %>
        <button type="submit">Сохранить </button>
    <% end %>
  </fieldset>
</div>

<%= link_to 'Back', creative_path(@chapter.creative) %>
