<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "креативы" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Креативы" %>">
    <%= stylesheet_link_tag "application" %>
    <%# Foundation 5.0.2 won't work with Rails Turbolinks %>
    <%# Modernizr is required for Zurb Foundation %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
        <%= render 'layouts/messages' %>
    <div class="row main-row">
      <%= javascript_include_tag "application" %>
      <p/>
      <div class="medium-7 medium-centered large-5 large-centered columns">
        <form action="<%= search_path %>" method="get" >
          <div class="row collapse">
            <div class="small-9 columns">
              <%= text_field_tag :search, params[:search], :required => "", :placeholder => "Введите запрос" %>  
            </div>
            <div class="small-3 columns">
              <%= submit_tag t('search'), :name => nil, :class => "button postfix" %>
            </div>
          </div>
        </form> 
      </div>
      <div class="small-11 small-centered medium-11 medium-centered large-10 large-centered columns">
        <%= yield %>
      </div>
      <%= javascript_include_tag "app-after" %>
    </div>
  </body>
</html>
