<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "креативы " %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Креативы" %>">
    <%= stylesheet_link_tag "application" %>
    <%# Foundation 5.0.2 won't work with Rails Turbolinks %>
    <%# Modernizr is required for Zurb Foundation %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <%= render 'layouts/messages' %>
    <div class="row main-row">
      <%= javascript_include_tag "application" %> 
      <%= yield %>
      <%= javascript_include_tag "app-after" %>
    </div>
  </body>
</html>